.local-appbar
  top: 64px
  z-index: 1000
  position: fixed

.local-toolbar
  justify-content: space-between

.local-typography
  margin: 0 auto
  // position: absolute
  // left: 50%
  // transform: 'translateX(-50%)'
