.h3TextField
  input
    font-size: 1.75rem // h3 equivalent size (adjust as needed)
    font-weight: 500 // h3 equivalent weight (adjust as needed)
    line-height: 1.167 // h3 equivalent line height (adjust as needed)
    margin: 0

.overview
  display: flex

.detail
  margin: 20px
  align-items: start

.detail-two
  div
    display: flex
