@tailwind base
@tailwind components
@tailwind utilities

:root
  --default: hsl(0, 0%, 73%)
  --white: hsl(0, 0%, 0%)
  --brack: hsl(0,  0%, 100%)
  --red: hsl(0,  100%, 73%)
  --orenge: hsl(30, 100%, 73%)
  --yellow: hsl(60, 100%, 73%)
  --yellow-green: hsl(90, 100%, 73%)
  --green: hsl(120, 100%, 73%)
  --light-green: hsl(150, 100%, 73%)
  --light-blue: hsl(180, 100%, 73%)
  --blue: hsl(210, 100%, 73%)
  --dark-blue: hsl(240, 100%, 73%)
  --purple: hsl(270, 100%, 73%)
  --pink: hsl(300, 100%, 73%)
  --red-purple: hsl(330, 100%, 73%)
  --border-default: hsl(0, 0%, 73%)
  --border-red: hsl(0,  100%, 37%)
  --border-orenge: hsl(30, 100%, 37%)
  --border-yellow: hsl(60, 100%, 37%)
  --border-yellow-green: hsl(90, 100%, 37%)
  --border-green: hsl(120, 100%, 37%)
  --border-light-green: hsl(150, 100%, 37%)
  --border-light-blue: hsl(180, 100%, 37%)
  --border-blue: hsl(210, 100%, 37%)
  --border-dark-blue: hsl(240, 100%, 37%)
  --border-purple: hsl(270, 100%, 37%)
  --border-pink: hsl(300, 100%, 37%)
  --border-red-purple: hsl(330, 100%, 37%)

html, body
  padding: 0
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif

a
  color: inherit
  text-decoration: none

*
  box-sizing: border-box

figure
  width: 300px
  height: 200px
  display: flex
  justify-content: center
  align-items: center

.cover-image
  max-width: 100%
  max-height: 100%
