@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* 左右共通のスタイリング */
.section {
  display: inline-block;
  box-sizing: content-box;
}
.left-side,
.right-side {
  width: 100%;
  margin: 40px 0;
  resize: vertical;
}
.icon {
  width: 120px;
  height: 100%;
  text-align: center;
}
.icon img {
  width: 100px;
  height: 100px;
  border: solid 3px #ccc;
  border-radius: 25%;
}
.icon p {
  margin: 0px;
  word-wrap: break-word;
}
.bubble {
  max-width: 70%;
  padding: 20px;
  display: inline-block;
  background: #f5f5f5;
  position: relative;
}
.bubble::before{
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  position: absolute;
}
.think-bubble {
  max-width: 70%;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  background: #f5f5f5;
  position: relative;
}
.think-bubble::before{
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #f5f5f5;
  position: absolute;
}
.think-bubble::after{
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #f5f5f5;
  position: absolute;
}
.zigzag-bubble {
  max-width: 80%;
  display: inline-block;
  position: relative;
}

.left-side .icon {
  float: left;
  margin-left: 10px;
}
.left-side .bubble{
  float: left;
  top: 10px;
  left: 20px;
}
.left-side .bubble::before{
  float: left;
  top: 15px;
  left: -20px;
  border-right-color: #f5f5f5;
}
.left-side .think-bubble{
  float: left;
  top: 10px;
  left: 20px;
}
.left-side .think-bubble::before{
  float: left;
  top: 15px;
  left: -20px;
}
.left-side .think-bubble::after{
  float: left;
  top: 25px;
  left: -28px;
}
.left-side .zigzag-box{
  float: left;
  top: 10px;
  left: 40px;
}
.left-side .zigzag-top{
  float: left;
  top: 10px;
  left: 40px;
}
.left-side .zigzag-bottom{
  float: left;
  top: 10px;
  left: 40px;
}

.right-side .icon {
  float: right;
  margin-right: 10px;
}
.right-side .bubble{
  float: right;
  top: 10px;
  right: 20px;
}
.right-side .bubble::before{
  float: right;
  top: 15px;
  right: -20px;
  border-left-color: #f5f5f5;
}
.right-side .think-bubble{
  float: right;
  top: 10px;
  right: 20px;
}
.right-side .think-bubble::before{
  float: right;
  top: 15px;
  right: -18px;
}
.right-side .think-bubble::after{
  float: right;
  top: 25px;
  right: -28px;
}
.right-side .zigzag-box{
  float: right;
  top: 10px;
  right: 40px;
}
.right-side .zigzag-top{
  float: right;
  top: 10px;
  right: 40px;
}
.right-side .zigzag-bottom{
  float: right;
  top: 10px;
  right: 40px;
}

.zigzag-box {
  max-width: 75%;
  padding: 20px;
  background: #f5f5f5;
  display: inline-block;
  position: relative;
}
.zigzag-box::before {
  background:
    linear-gradient(315deg, #f5f5f5 50%, transparent 52%),
    linear-gradient(45deg, transparent 50%, #f5f5f5 52%);
  background-size: 30px 30px;
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  height: 100%;
  width: 30px;
}
.zigzag-box::after {
  background:
    linear-gradient(45deg, #f5f5f5 50%, transparent 52%),
    linear-gradient(315deg, transparent 50%, #f5f5f5 52%);
  background-size: 30px 30px;
  content: "";
  position: absolute;
  top: 0;
  right: -30px;
  height: 100%;
  width: 30px;
}

.zigzag-top,.zigzag-bottom {
  position: relative;
  width: 75%;
  height: 0px;
  display: inline-block;
  background-color: #f5f5f5;
}
.zigzag-top::before {
  height: 20px;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  top: -20px;
  background:
    linear-gradient(45deg, #f5f5f5 10px, transparent 0),
    linear-gradient(315deg, #f5f5f5 10px, transparent 0);
  background-size: 20px 20px;
}

.zigzag-bottom::after {
  height: 20px;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -20px;
  background:
    linear-gradient(135deg, #f5f5f5 10px, transparent 0),
    linear-gradient(225deg, #f5f5f5 10px, transparent 0);
  background-size: 20px 20px;
}
