@tailwind base
@tailwind components
@tailwind utilities

html, body
  padding: 0
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif

a
  color: inherit
  text-decoration: none

*
  box-sizing: border-box

.globalAppBar
  top: 0
  z-index: 1100

.localAppBar
  top: 64px
  z-index: 1000

.main
  margin-top: 128px

.summary
  // white-space: nowrap; // 改行しない
  // text-overflow: ellipsis; // …を表示
  overflow: hidden // はみ出る部分を非表示
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-line-clamp: 5 // 任意の行数を指定

figure
  width: 300px
  height: 200px
  display: flex
  justify-content: center
  align-items: center

.cover-image
  max-width: 100%
  max-height: 100%

// 吹き出し左右共通のスタイリング
.section
  display: inline-flex
  box-sizing: content-box
  padding: 40px 0

.icon
  min-width: 120px
  height: 100%
  text-align: center

  img
    width: 100px
    height: 100px
    border: solid 3px var(--mui-palette-common-onBackground)
    border-radius: 25%

  p
    margin: 0px
    word-wrap: break-word

.bubble
  padding: 20px
  margin: 0 20px
  display: inline-block
  position: relative
  min-width: 600px
  background: var(--mui-palette-grey-500)

.left-talk-bubble
  &::before
    content: ""
    width: 0
    height: 0
    border: 10px solid transparent
    position: absolute
    float: left
    top: 15px
    left: -19px
    border-right-color: var(--mui-palette-grey-500)

.right-talk-bubble
  &::before
    content: ""
    width: 0
    height: 0
    border: 10px solid transparent
    position: absolute
    float: right
    top: 15px
    right: -19px
    border-left-color: var(--mui-palette-grey-500)

.left-thought-bubble
  border-radius: 10px

  &::before
    content: ""
    width: 15px
    height: 15px
    border-radius: 50%
    background: var(--mui-palette-grey-500)
    position: absolute
    float: left
    top: 15px
    left: -18px

  &::after
    content: ""
    width: 10px
    height: 10px
    border-radius: 50%
    background: var(--mui-palette-grey-500)
    position: absolute
    float: left
    top: 25px
    left: -28px

.right-thought-bubble
  border-radius: 10px

  &::before
    content: ""
    width: 15px
    height: 15px
    border-radius: 50%
    background: var(--mui-palette-grey-500)
    position: absolute
    float: right
    top: 15px
    right: -18px

  &::after
    content: ""
    width: 10px
    height: 10px
    border-radius: 50%
    background: var(--mui-palette-grey-500)
    position: absolute
    float: right
    top: 25px
    right: -28px

.shout-bubble-column
  margin: 0 20px -30px 20px
  display: inline-block
  position: relative
  min-width: 600px

  &::before
    display: inline-block
    background: linear-gradient(45deg, var(--mui-palette-grey-500) 50%, transparent 50%), linear-gradient(-45deg, var(--mui-palette-grey-500) 50%, transparent 50%)
    background-size: 32px
    content: ""
    position: absolute
    top: -16px
    height: 32px
    width: -webkit-fill-available

  &::after
    display: inline-block
    background: linear-gradient(135deg, var(--mui-palette-grey-500) 50%, transparent 50%), linear-gradient(-135deg, var(--mui-palette-grey-500) 50%, transparent 50%)
    background-size: 32px
    content: ""
    position: absolute
    bottom: -16px
    height: 32px
    width: -webkit-fill-available

.shout-bubble-row
  padding: 20px
  display: block
  min-width: 600px
  height: 100%
  background: var(--mui-palette-grey-500)

  &::before
    background: linear-gradient(315deg, var(--mui-palette-grey-500) 50%, transparent 52%), linear-gradient(45deg, transparent 50%, var(--mui-palette-grey-500) 50%)
    background-size: 32px 32px
    content: ""
    position: absolute
    top: 0
    left: -16px
    height: 100%
    width: 32px

  &::after
    background: linear-gradient(45deg, var(--mui-palette-grey-500) 50%, transparent 52%), linear-gradient(315deg, transparent 50%, var(--mui-palette-grey-500) 50%)
    background-size: 32px 32px
    content: ""
    position: absolute
    top: 0
    right: -16px
    height: 100%
    width: 32px

.text
  padding: 20px
  margin: 0 20px
  display: inline-block
  position: relative
  min-width: 840px
  background: var(--mui-palette-grey-500)
