.bubble
  padding: 20px
  margin: 0 20px
  position: relative
  width: 600px

$common-width-height: 10px
$common-transform: rotate(45deg)
$common-position: absolute

.left-line-bubble, .right-line-bubble
  &::before, &::after
    content: ''
    width: $common-width-height
    height: $common-width-height
    transform: $common-transform
    position: $common-position

.left-line-bubble
  &::before
    left: -$common-width-height
    border: $common-width-height solid transparent
    z-index: -1

  &::after
    top: 24px
    left: -5px
    z-index: 0

.right-line-bubble
  &::before
    right: -$common-width-height
    border: $common-width-height solid transparent
    z-index: -1

  &::after
    top: 24px
    right: -5px
    z-index: 0
