.icon
  min-width: 120px
  height: 100%
  text-align: center

  img
    width: 100px
    height: 100px
    border: solid 3px var(--mui-palette-common-onBackground)
    border-radius: 25%

  p
    margin: 0px
    word-wrap: break-word
